<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>@ViewBag.Title - CEDICOOP</title>
    @*@Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")*@

    <link rel="shortcut icon" href="~/assets/img/icono.png">
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <!-- plugin stylesheets -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors.css" />
    <!-- app style -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css" />
    <style >
        .dataTables_length  select {
            /*display: block;
            width: 100%;*/
            height: calc(2.25rem + 2px);
            padding: .375rem .75rem;
            font-size: 1rem;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: .25rem;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }
    </style>
    <script>
        function rootUrl(url) {
            var _rootUrl = '@Url.Content("~")';
            var x = url;
            if (url.indexOf(_rootUrl) != 0) {
                x = _rootUrl + "/" + url;
                x = x.replace(/\/\//g, "/").replace(/\/\//g, "/");
            }
            return x;
        };

        function ShowLoading(mostrar) {
            if (mostrar) {
                $("#content-loader").fadeIn();
            } else {
                $("#content-loader").fadeOut();
            }
        }

        function castFormToJson(formArray) {
            var obj = {};
            $.each(formArray, function (i, pair) {
                var cObj = obj, pObj = {}, cpName;
                $.each(pair.name.split("."), function (i, pName) {
                    pObj = cObj;
                    cpName = pName;
                    cObj = cObj[pName] ? cObj[pName] : (cObj[pName] = {});
                });
                pObj[cpName] = pair.value;
            });
            //obj["idRow"] = 0;
            return obj;
        }
    </script>
    @RenderSection("Styles", false)
</head>


<body>
    <!-- begin app -->
    <div class="app">
        <!-- begin app-wrap -->
        <div class="app-wrap">
            <!-- begin pre-loader -->
            <div class="loader">
                <div class="h-100 d-flex justify-content-center">
                    <div class="align-self-center">
                        <img src="~/assets/img/loader/loader.svg" alt="loader">
                    </div>
                </div>
            </div>
            <!-- end pre-loader -->
            <!-- begin app-header -->
            <header class="app-header top-bar">
                <!-- begin navbar -->
                <nav class="navbar navbar-expand-md">

                    <!-- begin navbar-header -->
                    <div class="navbar-header d-flex align-items-center">
                        <a href="javascript:void:(0)" class="mobile-toggle"><i class="ti ti-align-right"></i></a>
                        <a class="navbar-brand" href="index.html">
                            <img src="~/assets/img/logo.png" style ="margin-left:20px !important" class="img-fluid logo-desktop" alt="logo" />
                            <img src="~/assets/img/icono.png" class="img-fluid logo-mobile" alt="logo" />
                        </a>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="ti ti-align-left"></i>
                    </button>
                    <!-- end navbar-header -->
                    <!-- begin navigation -->
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <div class="navigation d-flex">
                            <ul class="navbar-nav nav-left">
                                <li class="nav-item">
                                    <a href="javascript:void(0)" class="nav-link sidebar-toggle">
                                        <i class="ti ti-align-right"></i>
                                    </a>
                                </li>
                               
                               
                                <li class="nav-item full-screen d-none d-lg-block" id="btnFullscreen">
                                    <a href="javascript:void(0)" class="nav-link expand">
                                        <i class="icon-size-fullscreen"></i>
                                    </a>
                                </li>
                            </ul>
                            <ul class="navbar-nav nav-right ml-auto">
                            </ul>
                        </div>
                    </div>
                    <!-- end navigation -->
                </nav>
                <!-- end navbar -->
            </header>
            <!-- end app-header -->
            <!-- begin app-container -->
            <div class="app-container">
                <!-- begin app-nabar -->
                <aside class="app-navbar">
                    <!-- begin sidebar-nav -->
                    <div class="sidebar-nav scrollbar scroll_light">
                        <ul class="metismenu " id="sidebarNav">
                            <li class="nav-static-title">Personal</li>
                            
                            <li><a href="@Url.Action("Socio","Socio")" aria-expanded="false"><i class="nav-icon ti ti-comment"></i><span class="nav-title">Socios</span></a> </li>
                            <li><a href="@Url.Action("Asamblea","Asamblea")" aria-expanded="false"><i class="nav-icon ti ti-comment"></i><span class="nav-title">Asambleas</span></a> </li>
                           
                            
                        </ul>
                    </div>
                    <!-- end sidebar-nav -->
                </aside>
                <!-- end app-navbar -->
                <!-- begin app-main -->
                <div class="app-main" id="main">
                    <!-- begin container-fluid -->
                    <div class="container-fluid">
                        @RenderBody()
                        <hr />

                    </div>
                    <!-- end container-fluid -->
                </div>
                <!-- end app-main -->
            </div>
            <!-- end app-container -->
            <!-- begin footer -->
            <footer class="footer">
                <div class="row">
                    <div class="col-12 col-sm-6 text-center text-sm-left">
                        <p>&copy; Copyright 2019. All rights reserved.</p>
                    </div>
                    <div class="col  col-sm-6 ml-sm-auto text-center text-sm-right">
                        <p>Desarrollado <i class="fa fa-heart text-danger mx-1"></i> por BlueCloud</p>
                    </div>
                </div>
            </footer>
            <!-- end footer -->
        </div>
        <!-- end app-wrap -->
    </div>
    <!-- end app -->
    <!-- plugins -->
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@

    <script src="~/assets/js/vendors.js"></script>
    <script src="~/assets/js/app.js"></script>


    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/assets/js/index.js"></script>

    @RenderSection("scripts", required: false)

</body>
</html>
