@model IEnumerable<CEDICOOP.Models.Asamblea>


<div class="col-lg-12">
    <div class="card card-statistics">
        <div class="card-body">
            <div class="export-table-wrapper table-responsive">
                <table id="tblAsam" class="table table-bordered ">
                    <thead class="thead-light">
                        <tr>
                            <th></th>
                            <th></th>
                            <th>#</th>
                            <th>Nombre</th>
                            <th># Acuerdos</th>
                            <th>Direccion Asamblea</th>
                            <th>Fecha Asamblea</th>
                            <th>Estatus</th>
                            <th>Material</th>
                            <th>#Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            string estatusColor = string.Empty;
                            switch (item.EstatusAsamblea)
                            {
                                case CEDICOOP.Models.EstatusAsamblea.Ninguno:
                                    break;
                                case CEDICOOP.Models.EstatusAsamblea.Pendiente:
                                    estatusColor = "warning";
                                    break;
                                case CEDICOOP.Models.EstatusAsamblea.Activa:
                                    estatusColor = "success";
                                    break;
                                case CEDICOOP.Models.EstatusAsamblea.Finalizada:
                                    estatusColor = "info";
                                    break;
                                default:
                                    break;
                            }
                        <tr role="row">
                            <td class="details-control"><a href="#" data-toggle="tooltip" title="Ver Acuerdos" class=" tooltip-wrapper btn btn-icon btn-round btn-outline-info"><i class="fa fa-search-plus"></i></a></td>
                            <td>
                                <a href="javascript:AsignarSociosAsamblea(@item.IdAsamblea);" data-toggle="tooltip" title="Asignar Socios" class="botones-bluecloud tooltip-wrapper btn btn-icon  btn-inverse-success">
                                    <i style="font-size:18px" class="fa fa-address-book-o
"></i>
                                </a>
                            </td>
                            <td class="id-asamblea">@item.IdAsamblea</td>
                            <td>@item.NombreAsamblea</td>
                            <td><b class="text-danger">@(item.TotalAcuerdos == 0 ? "Sin Acuerdos" : item.TotalAcuerdos.ToString())</b></td>
                            <td>@item.Direccion</td>
                            <td>@item.FechaAsamblea.ToShortDateString()</td>
                            <td><span class="badge badge-@estatusColor-inverse">@item.EstatusAsamblea</span></td>
                            <td><a href="javascript:verMaterial(@item.IdAsamblea,'@item.MaterialPDF.pathExpediente');" title="Ver Material" class="btn btn-square btn-inverse-@(string.IsNullOrEmpty(item.MaterialPDF.pathExpediente) ? "danger": "info") btn-xs ml-1">@(string.IsNullOrEmpty(item.MaterialPDF.pathExpediente) ? "N/A" : "Ver Material")</a></td>
                            <td>

                                @if (item.EstatusAsamblea == CEDICOOP.Models.EstatusAsamblea.Finalizada || item.EstatusAsamblea == CEDICOOP.Models.EstatusAsamblea.Pendiente)
                                {
                                    <a href="javascript:EliminarAsamblea(@item.IdAsamblea);" data-toggle="tooltip" title="Eliminar Asamblea" class="botones-bluecloud tooltip-wrapper btn btn-icon btn-round btn-outline-dark"><i class="ti ti-close"></i></a>
                                }
                                @if (item.EstatusAsamblea == CEDICOOP.Models.EstatusAsamblea.Pendiente)
                                {
                                    <a href="javascript:ActivarAsamblea(@item.IdAsamblea);" data-toggle="tooltip" title="Activar Asamblea" class="botones-bluecloud tooltip-wrapper btn btn-icon btn-round btn-outline-info"><i class="fa fa-unlock"></i></a>
                                }
                                else if (item.EstatusAsamblea == CEDICOOP.Models.EstatusAsamblea.Activa)
                                {
                                    <a href="javascript:FinalizarAsamblea(@item.IdAsamblea);" data-toggle="tooltip" title="Finalizar Asamblea" class="botones-bluecloud tooltip-wrapper btn btn-icon btn-round btn-outline-danger"><i class="ti ti-check"></i></a>
                                    <a href="javascript:AgregarActivarAcuerdos(@item.IdAsamblea,@Convert.ToInt16(@CEDICOOP.Models.AccionAcuerdo.Activar));" data-toggle="tooltip" title="Activar Acuerdos" class="botones-bluecloud tooltip-wrapper btn btn-icon btn-round btn-outline-warning"><i class="fa fa-check-square-o"></i></a>

                                }
                                @if (item.EstatusAsamblea == CEDICOOP.Models.EstatusAsamblea.Pendiente || item.EstatusAsamblea == CEDICOOP.Models.EstatusAsamblea.Activa)
                                {
                                    <a href="javascript:EditarAsamblea(@item.IdAsamblea,@Convert.ToInt16(CEDICOOP.Models.AccionAcuerdo.Agregar));" data-toggle="tooltip" title="Editar Asamblea" class="botones-bluecloud tooltip-wrapper btn btn-icon btn-round btn-outline-primary"><i class="fa fa-edit"></i></a>
                                    <a href="javascript:AgregarActivarAcuerdos(@item.IdAsamblea,@Convert.ToInt16(CEDICOOP.Models.AccionAcuerdo.Agregar));" data-toggle="tooltip" title="Agregar Acuerdos" class="botones-bluecloud tooltip-wrapper btn btn-icon btn-round btn-outline-success"><i class="fa fa-plus"></i></a>

                                }
                            </td>

                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


